
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>四方达(300179.SZ)公司概况-PC_HSF10资料</title>
    <link rel="shortcut icon" type="image/x-icon" href="//g1.dfcfw.com/g1/special/favicon_shortcut.ico" />
        <link href="/PC_HSF10/Content/css/web.css?v=1.0.2.7471" rel="stylesheet" />
        <link href="/PC_HSF10/Content/css/web_control.css?v=1.0.2.7471" rel="stylesheet" />
        <link href="/PC_HSF10/Content/css/web_head.css?v=1.0.2.7471" rel="stylesheet" />
        <link href="/PC_HSF10/Content/css/qphf.css?v=1.0.2.7471" rel="stylesheet" />
        <script type="text/javascript" src="/PC_HSF10/Content/js/lib/qphf.js?v=1.0.2.7471" charset="gb2312"></script>
        <script type="text/javascript" src="/PC_HSF10/Content/js/lib/HisAcc.js?v=1.0.2.7471" charset="gb2312"></script>
    <script src="/PC_HSF10/Content/js/lib/f10pcCommon.min.js?v=1.0.2.7471"></script>
    <script src="/PC_HSF10/Content/js/lib/f10hqcommon.js?v=1.0.2.7471"></script>
    <script src="/PC_HSF10/Content/js/lib/formatData.js?v=1.0.2.7471"></script>
    <script type="text/javascript" charset="UTF-8">
        try {
            var emtj_isUpload = 1;
            var emtj_pageId = 113301310291;
            var emtj_startTime = new Date().getTime();
            var emtj_logSet = "1100000000";
            var emtj_sampleRate = 1;
            var emtj_otherinfo = { 'LocModuleKey': 'hs', 'Terminal': 'WEB' };
        } catch (err) { }
    </script>
    <script type="text/javascript" src="https://bdstatics.eastmoney.com/web/prd/bigdata_tracker_top.js" charset="UTF-8"></script>
    <style>
        .nodata {
            text-align: center;
            font-size: 14px;
            padding: 10px 0;
        }

        .font-bold{
            font-weight: bold;
        }

        .pl20 {
            padding-left: 2em;
        }

        .pl25 {
            padding-left: 2.5em;
        }

        .pl15 {
            padding-left: 1.5em;
        }

        .hidden-data {
            text-align: center;
            font-size: 14px;
            padding: 200px 0;
            background: url("../../Content/img/hiddendata_b.png") no-repeat center;
        }

        .tips-fieldname-Left .super{
            vertical-align: super; 
            font-size: 12px;
            margin-left: 0px;
        }
    </style>
        <style>
            .hidden-data {
                background: url("../../Content/img/hiddendata_w.png") no-repeat center;
            }
        </style>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?f5b8577eb864c9edb45975f456f5dc27";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <input type="hidden" id="secuCode123" value="300179.SZ" />
    <input type="hidden" id="sCode123" value="SZ300179" />
    <input type="hidden" id="code123" value="300179" />
    <input type="hidden" id="codeNum" value="30017902" />
    <input type="hidden" id="stock_full_name123" value="四方达" />
    <input type="hidden" id="style_type123" value="web" />
    <input type="hidden" id="style_color123" value="w" />
    <input type="hidden" id="isCDR" value="false" />
    <script>
        //锚点定位
        function AutoScroll() {
            var array = window.location.href.split('#');
            if (array.length == 2) {
                EM("[href='#" + array[1] + "']").click();
            }
        };
    </script>
    <div class="main">
        <div>

<div class="qphox">
    <div class="tmbox">
        <ul>
            <li><a target="_blank" href="http://finance.eastmoney.com/">财经</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://finance.eastmoney.com/yaowen.html">要闻</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://stock.eastmoney.com/">股票</a></li>
            <li class="i">|</li>
            <li><span class="red"><a target="_blank" href="http://stock.eastmoney.com/newstock.html">新股</a></span></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://stock.eastmoney.com/gzqh.html">期指</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://option.eastmoney.com/">期权</a></li>
            <li class="i">|</li>
            <li><span class="red"><a target="_blank" href="http://quote.eastmoney.com/flash/SZ300179.html">行情</a></span></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://data.eastmoney.com/">数据</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://stock.eastmoney.com/global.html">全球</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://stock.eastmoney.com/america.html">美股</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://hk.eastmoney.com/">港股</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://futures.eastmoney.com/">期货</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://forex.eastmoney.com/">外汇</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://gold.eastmoney.com">黄金</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://bank.eastmoney.com/">银行</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://www.1234567.com.cn/">基金</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://money.eastmoney.com/">理财</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://insurance.eastmoney.com/">保险</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://bond.eastmoney.com/">债券</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://video.eastmoney.com/">视频</a></li>
            <li class="i">|</li>
            <li><span class="red"><a target="_blank" href="http://guba.eastmoney.com/">股吧</a></span></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://fund2.eastmoney.com/">基金吧</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://blog.eastmoney.com/">博客</a></li>
            <li class="i">|</li>
            <li><a target="_blank" href="http://so.eastmoney.com/">搜索</a></li>
        </ul>
    </div>
</div>

<div class="qphox">
    <div class="QVspace"></div>
    <div class="adbox" id="ifhqheadad">
        <ul>
            <li id="ad1">
                <iframe width="175" height="90" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="https://same.eastmoney.com/s?z=eastmoney&c=22&op=1" id="Iframe1"></iframe>
            </li>
            <li id="ov10" style="width:636px;height:90px;">
                <iframe width="636" height="90" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="https://same.eastmoney.com/s?z=eastmoney&c=174&op=1" id="Iframe2"></iframe>
            </li>
            <li class="last">
                <iframe width="175" height="90" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="https://same.eastmoney.com/s?z=eastmoney&c=23&op=1" id="Iframe3"></iframe>
            </li>
        </ul>
    </div>
</div>

<div class="qphox">
    <div class="QVspace"></div>
    <div class="lgbox">
        <div class="lbox">
            <div class="logo ">
                <a target="_blank" href="http://www.eastmoney.com"><span title="东方财富网"></span></a>
                <a target="_blank" href="http://quote.eastmoney.com/center/"><span title="行情中心"></span></a>
            </div>
            <div class="ogo">
                <ul>
                    <li><div class="a"></div><a target="_blank" href="http://kuaixun.eastmoney.com/">全球财经快讯</a></li>
                    <li><div class="b"></div><a target="_blank" href="http://data.eastmoney.com/center/">数据中心</a></li>
                    <li><div class="c"></div><a target="_blank" href="http://wap.eastmoney.com/">手机站</a></li>
                    <li><div class="d"></div><a target="_blank" href="https://acttg.eastmoney.com/pub/pctg_hskh_act_gfcgrj_01_01_01_0">客户端</a></li>
                    <li><div class="e"></div><a target="_blank" href="http://choice.eastmoney.com/?adid=953">Choice数据</a></li>
                    <li class="last"><div class="f"></div><a target="_blank" href="http://fundact.eastmoney.com/app/?spm=100003.mjj">手机买基金 牛市赚不停></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="qphox">
    <div class="QVspace"></div>
    <div class="mainnbox">
        <div class="title"><div class="tit"><b></b><div class="nm"><a href="http://quote.eastmoney.com/center/" target="_blank">行情中心</a></div></div></div>
        <div class="qmbox">
            <div class="nbox">
                <div class="lbox">
                    <ul>
                        <li><a href="http://quote.eastmoney.com/center/index.html#zyzs_0_1" target="_blank">指数</a></li>
                        <li>|</li>
                        <li><a href="http://js1.eastmoney.com/tg.aspx?ID=655" target="_blank">期指</a></li>
                        <li>|</li>
                        <li><a href="http://quote.eastmoney.com/center/qiquan.html#1,510050,0_13_0" target="_blank">期权</a></li>
                        <li>|</li>
                        <li><a href="http://quote.eastmoney.com/" target="_blank">个股</a></li>
                        <li>|</li>
                        <li><a href="http://quote.eastmoney.com/center/BanKuai.html#_0_2" target="_blank">板块</a></li>
                        <li>|</li>
                        <li><a href="http://quote.eastmoney.com/center/paihang.html#paihang_0_0" target="_blank">排行</a></li>
                        <li>|</li>
                        <li><a href="http://quote.eastmoney.com/center/list.html#285001_0" target="_blank">新股</a></li>
                        <li>|</li>
                        <li><a href="http://quote.eastmoney.com/center/fund.html#_4" target="_blank">基金</a></li>
                        <li>|</li>
                        <li><a href="http://quote.eastmoney.com/center/hkstock.html#_1" target="_blank">港股</a></li>
                        <li>|</li>
                        <li><a href="http://quote.eastmoney.com/center/usstock.html#_2" target="_blank">美股</a></li>
                        <li>|</li>
                        <li><a href="http://quote.eastmoney.com/center/futures.html#_5" target="_blank">期货</a></li>
                        <li>|</li>
                        <li><a href="http://quote.eastmoney.com/center/forex.html#_6" target="_blank">外汇</a></li>
                        <li>|</li>
                        <li><a href="http://quote.eastmoney.com/center/gold.html#_7" target="_blank">黄金</a></li>
                        <li>|</li>
                        <li><a href="http://quote.eastmoney.com/favor/default.html" target="_blank">自选股</a></li>
                        <li>|</li>
                        <li><a href="http://fund.eastmoney.com/favor.html" target="_blank">自选基金</a></li>
                    </ul>
                </div>
                <div class="rbox">
                    <form class="search-box" method="get" target="_blank" style="width: 292px; padding: 3px 0;">
                        <script src="//emcharts.dfcfw.com/suggest/stocksuggest2017.min.js"></script>
                        <input type="text" name="StockCode" id="search_box" style="font-size: 12px;"><input type="submit" value="搜索">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="qphox">
    <div class="aide">
        <div class="global">
            <div class="lbox"><div class="tit"><b></b><a href="http://quote.eastmoney.com/center/global.html#global_3" target="_blank">全球股市</a></div></div>
            <div class="mbox"><b id="btn_down" class="up" title="下滚"></b><b id="btn_up" class="down" title="上滚"></b></div>
            <div class="rbox">
                <div id="qqgscont" xvs="0">
                    <ul>
                        <li>
                            <a href="http://quote.eastmoney.com/zs000001.html" target="_blank" class="blue"><strong>上证</strong></a>：
                            <span><b>-</b> <b>-</b>  <b>-</b></span>(涨:<b>-</b>平:<b>-</b> 跌:<b>-</b>)
                            <a href="http://quote.eastmoney.com/zs399001.html" target="_blank" class="blue"><strong>深证</strong></a>：
                            <span><b>-</b> <b>-</b>  <b>-</b></span>(涨:<b>-</b>平:<b>-</b> 跌:<b>-</b>)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="qphox">
    <div class="aide nt">
        <div class="dcer">
            <div class="lbox"><div class="tit"><b></b><a href="http://js1.eastmoney.com/tg.aspx?ID=517" target="_blank">数据中心</a></div></div>
            <div class="rbox">
                <ul>
                    <li><a href="http://js1.eastmoney.com/tg.aspx?ID=520" target="_blank">新股申购</a></li>
                    <li><a href="http://js1.eastmoney.com/tg.aspx?ID=522" target="_blank">新股日历</a></li>
                    <li><a href="http://js1.eastmoney.com/tg.aspx?ID=525" target="_blank">资金流向</a></li>
                    <li><a href="http://quote.eastmoney.com/center/list.html#ah_1	" target="_blank" class="red">AH股比价</a></li>
                    <li><a href="http://js1.eastmoney.com/tg.aspx?ID=540" target="_blank">主力排名</a></li>
                    <li><a href="http://js1.eastmoney.com/tg.aspx?ID=615" target="_blank">板块资金</a></li>
                    <li><a href="http://js1.eastmoney.com/tg.aspx?ID=616" target="_blank">个股研报</a></li>
                    <li><a href="http://js1.eastmoney.com/tg.aspx?ID=631" target="_blank">行业研报</a></li>
                    <li><a href="http://js1.eastmoney.com/tg.aspx?ID=635" target="_blank">盈利预测</a></li>
                    <li><a href="http://data.eastmoney.com/stockcomment/" target="_blank">千股千评</a></li>
                    <li><a href="http://data.eastmoney.com/bbsj/" target="_blank">年报季报</a></li>
                    <li><a href="http://js1.eastmoney.com/tg.aspx?ID=693" target="_blank">龙虎榜单</a></li>
                    <li><a href="http://js1.eastmoney.com/tg.aspx?ID=695" target="_blank">限售解禁</a></li>
                    <li><a href="http://js1.eastmoney.com/tg.aspx?ID=731" target="_blank">大宗交易</a></li>
                    <li><a href="http://js1.eastmoney.com/tg.aspx?ID=748" target="_blank">期指持仓</a></li>
                    <li class="last"><a href="http://js1.eastmoney.com/tg.aspx?ID=609" target="_blank">融资融券</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="qphox">
    <div class="aide nt">
        <div class="hgt">
            <div class="lbox"><div class="tit"><b></b><a href="http://quote.eastmoney.com/center/hgtstock.html#_12" target="_blank">沪深港通</a></div></div>
            <div class="rbox">
                <div style="margin-left: 2px; float: left; padding: 0 2px; width: 215px; text-align: center; position: relative;">
                    <a href="http://quote.eastmoney.com/center/list.html#28003707_12_2" target="_blank" class="sg">沪股通</a>
                    <span class="run" id="hgtrun"><b class="off"></b>暂停</span><a style="color: #039;text-decoration: underline;" href="http://data.eastmoney.com/hsgt/index.html" target="_blank">资金流入</a><span style="text-decoration: underline;" id="hgtzj">
                        <b>
                            <a href="http://data.eastmoney.com/hsgt/index.html" target="_blank">0.00</a>
                        </b>万
                    </span>
                    <span class="lx" style="position: absolute; right: 0;">|</span>
                </div>
                <div style="float: left; padding: 0 2px; width: 215px; text-align: center; position: relative;">
                    <a href="http://quote.eastmoney.com/center/list.html#28013804_12_3" target="_blank" class="sg">深股通</a>
                    <span class="run" id="sgtrun"><b class="off"></b>暂停</span><a style="color: #039;text-decoration: underline;" href="http://data.eastmoney.com/hsgt/index.html" target="_blank">资金流入</a><span style="text-decoration: underline;" id="sgtzj"><b><a href="http://data.eastmoney.com/hsgt/index.html" target="_blank">0.00</a></b>万</span>
                    <span class="lx" style="position: absolute; right: 0;">|</span>
                </div>
                <div style="float: left; padding: 0 2px; width: 232px; text-align: center; position: relative;">
                    <a href="http://quote.eastmoney.com/center/list.html#mk0144_12" target="_blank" class="sg">港股通(沪)</a>
                    <span class="run" id="ggthrun"><b class="off"></b>暂停</span><a style="color: #039;text-decoration: underline;" href="http://data.eastmoney.com/hsgt/index.html" target="_blank">资金流入</a><span style="text-decoration: underline;" id="ggthzj"><b><a href="http://data.eastmoney.com/hsgt/index.html" target="_blank">0.00</a></b>万</span>
                    <span class="lx" style="position: absolute; right: 0;">|</span>
                </div>
                <div style="float: left;  padding: 0 2px; width: 232px; text-align: center; position: relative;">
                    <a href="http://quote.eastmoney.com/center/list.html#mk0146_12" target="_blank" class="sg">港股通(深)</a>
                    <span class="run" id="ggtsrun"><b class="off"></b>暂停</span><a style="color: #039;text-decoration: underline;" href="http://data.eastmoney.com/hsgt/index.html" target="_blank">资金流入</a><span style="text-decoration: underline;" id="ggtszj"><b><a href="http://data.eastmoney.com/hsgt/index.html" target="_blank">0.00</a></b>万</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="qphox">
    <div class="aide nb">
        <div class="hisacc">
            <div id="histit" class="tit">最近访问：</div>
            <div id="historyest" class="list tile"></div>
        </div>
    </div>
</div>

<div class="qphox">
    <div class="sckifbox">
        <div class="scklox">
            <div class="cnt">
                <p class="key">
                    <b>
                        <a href="http://quote.eastmoney.com/unify/r/0.300179" target="_blank">

                            <span id="hq_1">四方达</span>
                        </a></b><a href="http://quote.eastmoney.com/unify/r/0.300179" target="_blank">300179</a>
                </p>
                <p>
                    <a href="http://data.eastmoney.com/zjlx/300179.html" target="_blank" class="zldx">
                    </a><a href="http://data.eastmoney.com/report/300179.html" target="_blank" class="zjpm"></a>
                </p>
                <p>
                    <a href="https://quote.eastmoney.com/zixuan/add.html?quotecode=0.300179" target="_blank" class="jrzx"></a>
                    <a href="http://data.eastmoney.com/stock/lhb/300179.html" target="_blank" class="sjhq"></a>
                </p>
            </div>
        </div>
        <div class="sckrox">
            <div class="upox">
                <div class="cnt tof10">
                    <ul>
                        <li class="a"><span class="jssz" id="hq_2">--</span></li>
                        <li class="b" style="width:95px">
                            <b id="hq_33">
                            </b><span class="jssz" id="hq_3">--</span>
                        </li>
                        <li class="c" style="width: 95px;"><span class="jssz" id="hq_4">--</span></li>
                        <li class="d">成交量：<span class="jsszo" id="hq_5">--</span>(手)</li>
                        <li class="e" style="width:165px">成交额：<span class="jsszo" id="hq_6">--</span>(万元)</li>
                        <li class="f"><span id="hq_7">--</span></li>
                        
                    </ul>
                </div>
            </div>
            <div class="dnox">
                <div class="cnt">
                    <ul>
                        <li>今开:<span id="hq_8">--</span></li>
                        <li>昨收:<span id="hq_9">--</span></li>
                        <li>最高:<span id="hq_10">--</span></li>
                        <li>最低:<span id="hq_11">--</span></li>
                        <li>换手:<span id="hq_12">--</span></li>
                        <li>市盈:<span id="hq_13">--</span></li>
                        <li>量比:<span id="hq_14">--</span></li>
                        <li>振幅:<span id="hq_15">--</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="qphox" id="top-nav">
    <div class="weftnbox">
        <ul>
            <li class="first " id="OperationsRequired">
                <a class="a-URL" href="../OperationsRequired/Index?type=web&code=SZ300179#">
                    操盘必读
                </a>
            </li>
            <li class="" id="ShareholderResearch">
                <a class="a-URL" href="../ShareholderResearch/Index?type=web&code=SZ300179#">
                    股东研究
                </a>
            </li>
            <li class="" id="BusinessAnalysis">
                <a class="a-URL" href="../BusinessAnalysis/Index?type=web&code=SZ300179#">
                    经营分析
                </a>
            </li>
            <li class="" id="CoreConception">
                <a class="a-URL" href="../CoreConception/Index?type=web&code=SZ300179#">
                    核心题材
                </a>
            </li>
            <li class="" id="NewsBulletin">
                <a class="a-URL" href="../NewsBulletin/Index?type=web&code=SZ300179#">
                    资讯公告
                </a>
            </li>
            <li class="" id="CompanyBigNews">
                <a class="a-URL" href="../CompanyBigNews/Index?type=web&code=SZ300179#">
                    公司大事
                </a>
            </li>
            <li class="" id="CompanySurvey">
                <a class="a-URL" href="../CompanySurvey/Index?type=web&code=SZ300179#">
                    公司概况
                </a>
            </li>
            <li class="" id="IndustryAnalysis">
                <a class="a-URL" href="../IndustryAnalysis/Index?type=web&code=SZ300179#">
                    同行比较
                </a>
            </li>
            <li class="" id="ProfitForecast">
                <a class="a-URL" href="../ProfitForecast/Index?type=web&code=SZ300179#">
                    盈利预测
                </a>
            </li>
            <li class="" id="ResearchReport">
                <a class="a-URL" href="../ResearchReport/Index?type=web&code=SZ300179#">
                    研究报告
                </a>
            </li>
        </ul>
        <ul>
            <li class="first" id="NewFinanceAnalysis">
                <a class="a-URL" href="../NewFinanceAnalysis/Index?type=web&code=SZ300179#">
                    财务分析
                </a>
            </li>
            <li class="" id="BonusFinancing">
                <a class="a-URL" href="../BonusFinancing/Index?type=web&code=SZ300179#">
                    分红融资
                </a>
            </li>
            <li class="" id="CapitalStockStructure">
                <a class="a-URL" href="../CapitalStockStructure/Index?type=web&code=SZ300179#">
                    股本结构
                </a>
            </li>
            <li class="" id="CompanyManagement">
                <a class="a-URL" href="../CompanyManagement/Index?type=web&code=SZ300179#">
                    公司高管
                </a>
            </li>
            <li class="" id="CapitalOperation">
                <a class="a-URL" href="../CapitalOperation/Index?type=web&code=SZ300179#">
                    资本运作
                </a>
            </li>
            <li class="" id="StockRelationship">
                <a class="a-URL" href="../StockRelationship/Index?type=web&code=SZ300179#">
                    关联个股
                </a>
            </li>
            <li><a href="http://data.eastmoney.com/zjlx/300179.html" target="_blank">资金流向</a></li>
            <li>
                <a href="http://data.eastmoney.com/stock/lhb/300179.html" target="_blank">
                    龙虎榜单
                </a>
            </li>
            <li>
                <a href="http://data.eastmoney.com/report/300179.html" target="_blank">
                    机构评级
                </a>
            </li>
            <li><a href="http://data.eastmoney.com/stockcomment/300179.html" target="_blank">智能点评</a></li>
        </ul>
    </div>
</div>



<script type="text/javascript" language="JavaScript">

    setTimeout(function () {

        qphf.getIndexQuote(20);

        var arg = { def: "", set: "", lns: 0 }; var HV = new HistoryViews("historyest", arg);
        //zhrun();
    }, 500);

    var newsuggest = new suggest2017({ //新建实例
        inputid: "search_box", //参数部分
        offset: { left: -91, top: 5 },
        shownewtips: true,
        zindex: 2147483647,
        newtipsoffset: { top: -4, left: 0 }
    });
    EM(".search-box").css("position", "absolute");
</script>

<script type="text/javascript">
    //var fullCode = EM("#sCode123");
    //if (fullCode != undefined && fullCode != null) {
    //    var market = fullCode.val().toLowerCase().indexOf("sz") >= 0 ? "2" : "1";
    //    var Def = new QTDef(fullCode.val().toLowerCase().replace("sz", "").replace("sh", ""), market);
    //    Def.init();
    //}
</script>

<script>

    EM("#rm_advise").attr("href", "https://emdesk.eastmoney.com/pc_ad/pages/leavemessage/pages/leavemessage.html?title=东方财富通&sver=7_4108&at=f10&url=" + encodeURIComponent(window.location.href));

    //股东研究
    if (location.href.toLowerCase().indexOf("/shareholderresearch") > 0) {
        EM("#ShareholderResearch").attr("class", "current")
    }
        // 经营分析
    else if (location.href.toLowerCase().indexOf("/businessanalysis") > 0) {
        EM("#BusinessAnalysis").attr("class", "current")
    }
        // 核心题材
    else if (location.href.toLowerCase().indexOf("/coreconception") > 0) {
        EM("#CoreConception").attr("class", "current")
    }
        //公司资讯
    else if (location.href.toLowerCase().indexOf("/newsbulletin") > 0) {
        EM("#NewsBulletin").attr("class", "current")
    }
        //公司大事
    else if (location.href.toLowerCase().indexOf("/companybignews") > 0) {
        EM("#CompanyBigNews").attr("class", "current")
    }

        //公司概况
    else if (location.href.toLowerCase().indexOf("/companysurvey") > 0) {
        EM("#CompanySurvey").attr("class", "current")
    }
        //同行比较
    else if (location.href.toLowerCase().indexOf("/industryanalysis") > 0) {
        EM("#IndustryAnalysis").attr("class", "current")
    }
        //盈利预测
    else if (location.href.toLowerCase().indexOf("/profitforecast") > 0) {
        EM("#ProfitForecast").attr("class", "first current")
    }
        //研究报告
    else if (location.href.toLowerCase().indexOf("/researchreport") > 0) {
        EM("#ResearchReport").attr("class", "current")
    }
        //财务分析
    else if (location.href.toLowerCase().indexOf("/newfinanceanalysis") > 0 || location.href.toLowerCase().indexOf("/financeanalysis") > 0) {
        EM("#NewFinanceAnalysis").attr("class", "current")
    }
        //分红融资
    else if (location.href.toLowerCase().indexOf("/bonusfinancing") > 0) {
        EM("#BonusFinancing").attr("class", "current")
    }
        //股本结构
    else if (location.href.toLowerCase().indexOf("/capitalstockstructure") > 0) {
        EM("#CapitalStockStructure").attr("class", "current")
    }
        //公司高管
    else if (location.href.toLowerCase().indexOf("/companymanagement") > 0) {
        EM("#CompanyManagement").attr("class", "current")
    }
        //资本运作
    else if (location.href.toLowerCase().indexOf("/capitaloperation") > 0) {
        EM("#CapitalOperation").attr("class", "current")
    }
        //关联个股
    else if (location.href.toLowerCase().indexOf("stockrelationship") > 0) {
        EM("#StockRelationship").attr("class", "current")
    }
        //操盘必读
    else {
        EM("#OperationsRequired").attr("class", "first current")
    }
</script>

<script>
    setInterval("hq()", 30000);
    function hq() {
        var stock_full_code_global = document.getElementById("sCode123").value;
        var codem = stock_full_code_global.toLowerCase();
        codem = codem.replace("sz", "0.").replace("bj", "0.").replace("sh", "1.");

        var url = "https://push2.eastmoney.com/api/qt/stock/get?secid=" + codem + "&ut=f057cbcbce2a86e2866ab8877db1d059"
            + "&fields=f57,f58,f59,f43,f169,f170,f168,f47,f48,f86,f46,f44,f60,f45,f168,f164,f50,f171&np=1&fltt=2&invt=2&" + getHQDelayParam();
        jQuery.ajax({
            type: "get",
            url: url,
            dataType: 'jsonp',
            jsonp: 'cb',
            success: function (json) {
                if (!json || !json.data || !json.data.f58)
                    return;

                var temp = json.data;


                temp.f59 = temp.f59 || 2;
                temp.f43 = toFixedHQ(temp.f43, temp.f59);
                temp.f169 = toFixedHQ(temp.f169, temp.f59);
                temp.f170 = toFixedHQ(temp.f170, 2);
                temp.f168 = toFixedHQ(temp.f168, 2);
                temp.f46 = toFixedHQ(temp.f46, temp.f59);
                temp.f44 = toFixedHQ(temp.f44, temp.f59);
                temp.f60 = toFixedHQ(temp.f60, temp.f59);
                temp.f45 = toFixedHQ(temp.f45, temp.f59);
                temp.f164 = toFixedHQ(temp.f164, 2);
                temp.f50 = toFixedHQ(temp.f50, 2);
                temp.f171 = toFixedHQ(temp.f171, 2);

                //股票名称
                //f58
                if (temp.f58) {
                    EM("#hq_1").text(temp.f58).css("font-size", "").attr("title", "");
                    if (temp.f58.length >= 5) {
                        EM("#hq_1").css("font-size", "16px");
                    }
                    if (temp.f58.length > 8) {
                        EM("#hq_1").text(temp.f58.substring(0, 8) + "...").css("font-size", "14px").attr("title", temp.f58);
                    }
                    document.getElementById("stock_full_name123").value = temp.f58;
                    document.title = temp.f58 + document.title.substring(document.title.indexOf('('), document.title.length);
                }
                if (temp.f169 < 0) {
                    //当前价格
                    //f43
                    EM("#hq_2").html("<span style='color:green'>" + temp.f43 + "</span>");
                    //涨跌金额
                    //f169
                    EM("#hq_3").html("<span style='color:green'>" + temp.f169 + "</span>");
                    EM("#hq_33").removeClass().addClass("d")
                    //涨跌幅度
                    //f170
                    EM("#hq_4").html("<span style='color:green'>" + temp.f170 + "%</span>");
                }
                else if (temp.f169 > 0) {
                    //当前价格
                    EM("#hq_2").html("<span style='color:red'>" + temp.f43 + "</span>");
                    //涨跌金额
                    EM("#hq_3").html("<span style='color:red'>" + temp.f169 + "</span>");
                    EM("#hq_33").removeClass().addClass("u")
                    //涨跌幅度
                    EM("#hq_4").html("<span style='color:red'>" + temp.f170 + "%</span>");
                }
                else {
                    //当前价格
                    EM("#hq_2").html("<span style='color:#494949'>" + temp.f43 + "</span>");
                    //涨跌金额
                    EM("#hq_3").html("<span style='color:#494949'>" + temp.f169 + "</span>");
                    EM("#hq_33").removeClass();
                    //涨跌幅度
                    EM("#hq_4").html("<span style='color:#494949'>" + temp.f170 + "%</span>");
                }
                //成交量
                //f47
                EM("#hq_5").removeClass().text(temp.f47);
                //成交额
                //f48
                if (!isNaN(temp.f48)) {
                    EM("#hq_6").removeClass().text((temp.f48 / 10000).toFixed(0));
                }

                //刷新时间
                //f86
                if (Number(temp.f86)) {
                    var date = new Date(temp.f86 * 1000);
                    var texts = [
                        date.getFullYear(),
                        '-',
                        date.getMonth() > 8 ? date.getMonth() + 1 : "0" + (date.getMonth() + 1),
                        '-',
                        date.getDate() > 9 ? date.getDate() : "0" + date.getDate(),
                        ' ',
                        date.getHours() > 9 ? date.getHours() : "0" + date.getHours(),
                        ':',
                        date.getMinutes() > 9 ? date.getMinutes() : "0" + date.getMinutes(),
                        ':',
                        date.getSeconds() > 9 ? date.getSeconds() : "0" + date.getSeconds()
                    ];
                    EM("#hq_7").removeClass().text(texts.join(''));
                }
                else {
                    EM("#hq_7").removeClass().text('--');
                }
                //今开:
                //f46
                if (temp.f46 > temp.f60) {
                    EM("#hq_8").html("<span style='color:red'>" + temp.f46 + "</span>");
                }
                else if (!isNaN(temp.f46) && temp.f46 < temp.f60) {
                    EM("#hq_8").html("<span style='color:green'>" + temp.f46 + "</span>");
                }
                else {
                    EM("#hq_8").html("<span>" + temp.f46 + "</span>");
                }
                //最高:
                //f44
                if (temp.f44 > temp.f60) {
                    EM("#hq_10").html("<span style='color:red'>" + temp.f44 + "</span>");
                }
                else if (!isNaN(temp.f44) && temp.f44 < temp.f60) {
                    EM("#hq_10").html("<span style='color:green'>" + temp.f44 + "</span>");
                }
                else {
                    EM("#hq_10").html("<span>" + temp.f44 + "</span>");
                }
                //昨收:
                //f60
                EM("#hq_9").html("<span>" + temp.f60 + "</span>");
                //最低:
                //f45
                if (temp.f45 > temp.f60) {
                    EM("#hq_11").html("<span style='color:red'>" + temp.f45 + "</span>");
                }
                else if (!isNaN(temp.f45) && temp.f45 < temp.f60) {
                    EM("#hq_11").html("<span style='color:green'>" + temp.f45 + "</span>");
                }
                else {
                    EM("#hq_11").html("<span>" + temp.f45 + "</span>");
                }
                //换手:
                //168
                if (Number(temp.f168)) {
                    EM("#hq_12").removeClass().text(temp.f168 + '%');
                } else {
                    EM("#hq_12").removeClass().text('-%');
                }
                //市盈:
                //f164
                EM("#hq_13").removeClass().text(temp.f164);
                //量比:
                //f50
                EM("#hq_14").removeClass().text(temp.f50);
                //振幅:
                //f171
                EM("#hq_15").removeClass().text(temp.f171 + "%");
            }
        });
    }
    hq();

    function toFixedHQ(value, point, emptyValue) {
        if (!point && point != 0) {
            point = 2;
        }

        if (!emptyValue && emptyValue != '') {
            emptyValue = emptyValue || "--";
        }
        if (value == null) {
            return emptyValue;
        }
        value = parseFloat(value);
        if (isNaN(value)) {
            return emptyValue;
        }

        if (point == 1) {
            value = Number((value * 1e1).toFixed(0)) / 1e1;
        } else if (point == 2) {
            value = Number((value * 1e2).toFixed(0)) / 1e2;
        } else if (point == 3) {
            value = Number((value * 1e3).toFixed(0)) / 1e3;
        } else if (point == 4) {
            value = Number((value * 1e4).toFixed(0)) / 1e4;
        }
        return value.toFixed(point);
    }

</script>
        </div>

        <div id="divBody">
            

<script type="text/template" id="tmpl">
    <div class="section first">
        <div class="name" id="jbzl">
            <samp class="icon">
            </samp>
            <strong>基本资料</strong>
        </div>
        <div class="content">
            {{if jbzl }}
            <table id="Table0">
                <tbody>
                    <tr>
                        <th class="tips-fieldnameL" width="174">
                            公司名称
                        </th>
                        <td class="tips-dataL" colspan="3">
                            {{formatStr(jbzl.ORG_NAME)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            英文名称
                        </th>
                        <td class="tips-dataL" colspan="3">
                            {{formatStr(jbzl.ORG_NAME_EN)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL" width="174">
                            A股代码
                        </th>
                        <td class="tips-dataL" width="242">
                            {{formatStr(jbzl.STR_CODEA)}}
                        </td>
                        <th class="tips-fieldnameL" width="174">
                            A股简称
                        </th>
                        <td class="tips-dataL" width="357">
                            {{formatStr(jbzl.STR_NAMEA)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL" width="174">
                            A股扩位简称
                        </th>
                        <td class="tips-dataL" width="242">
                            {{formatStr(jbzl.EXPAND_NAME_ABBR)}}
                        </td>
                        <th class="tips-fieldnameL">
                            曾用名
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.FORMERNAME)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            B股代码
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.STR_CODEB)}}
                        </td>
                        <th class="tips-fieldnameL">
                            B股简称
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.STR_NAMEB)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            H股代码
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.STR_CODEH)}}
                        </td>
                        <th class="tips-fieldnameL">
                            H股简称
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.STR_NAMEH)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            证券类别
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.SECURITY_TYPE)}}
                        </td>
                        <th class="tips-fieldnameL">
                            所属东财行业
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.EM2016)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            上市交易所
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.TRADE_MARKET)}}
                        </td>
                        <th class="tips-fieldnameL">
                            所属证监会行业
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.INDUSTRYCSRC1)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            总经理
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.PRESIDENT)}}
                        </td>
                        <th class="tips-fieldnameL">
                            法人代表
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.LEGAL_PERSON)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            董秘
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.SECRETARY)}}
                        </td>
                        <th class="tips-fieldnameL">
                            董事长
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.CHAIRMAN)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            证券事务代表
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.SECPRESENT)}}
                        </td>
                        <th class="tips-fieldnameL">
                            独立董事
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.INDEDIRECTORS)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            联系电话
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.ORG_TEL)}}
                        </td>
                        <th class="tips-fieldnameL">
                            电子信箱
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.ORG_EMAIL)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            传真
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.ORG_FAX)}}
                        </td>
                        <th class="tips-fieldnameL">
                            公司网址
                        </th>
                        <td class="tips-dataL" id="CompanyWebId">
                            {{formatStr(jbzl.ORG_WEB)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            办公地址
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.ADDRESS)}}
                        </td>
                        <th class="tips-fieldnameL">
                            注册地址
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.REG_ADDRESS)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            区域
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.PROVINCE)}}
                        </td>
                        <th class="tips-fieldnameL">
                            邮政编码
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.ADDRESS_POSTCODE)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            注册资本(元)
                        </th>
                        <td class="tips-dataL">
                            {{formatMoney(jbzl.REG_CAPITAL*1e4)}}
                        </td>
                        <th class="tips-fieldnameL">
                            工商登记
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.REG_NUM)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            雇员人数
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.EMP_NUM)}}
                        </td>
                        <th class="tips-fieldnameL">
                            管理人员人数
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.TATOLNUMBER)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            律师事务所
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(jbzl.LAW_FIRM)}}
                        </td>
                        <th class="tips-fieldnameL">
                            会计师事务所
                        </th>
                        <td width="357" class="tips-dataL">
                            {{formatStr(jbzl.ACCOUNTFIRM_NAME)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            公司简介
                        </th>
                        <td colspan="3" class="tips-dataL tips-lineheight" width="782">
                            {{formatStr(jbzl.ORG_PROFILE)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            经营范围
                        </th>
                        <td colspan="3" class="tips-dataL tips-lineheight" width="782">
                            {{formatStr(jbzl.BUSINESS_SCOPE)}}
                        </td>
                    </tr>
                </tbody>
            </table>
            {{else}}
            <h1 style="text-align:center;font-size:14px;padding:5px 0;">该公司暂无基本资料</h1>
            {{/if}}
        </div>
    </div>
    <div class="section">
        <div class="name" id="fxxg">
            <samp class="icon">
            </samp>
            <strong>发行相关</strong>
        </div>
        <div class="content">
            {{if fxxg}}
            <table>
                <tbody>
                    <tr>
                        <th class="tips-fieldnameL" width="174">
                            成立日期
                        </th>
                        <td class="tips-dataL" width="230">
                            {{formatDate(fxxg.FOUND_DATE)}}
                        </td>
                        <th class="tips-fieldnameL" width="167">
                            上市日期
                        </th>
                        <td class="tips-dataL" width="319">
                            {{formatDate(fxxg.LISTING_DATE)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            发行市盈率(倍)
                        </th>
                        <td class="tips-dataL">
                            {{formatFixed(fxxg.AFTER_ISSUE_PE)}}
                        </td>
                        <th class="tips-fieldnameL">
                            网上发行日期
                        </th>
                        <td class="tips-dataL">
                            {{formatDate(fxxg.ONLINE_ISSUE_DATE)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            发行方式
                        </th>
                        <td class="tips-dataL">
                            {{formatStr(fxxg.ISSUE_WAY)}}
                        </td>
                        <th class="tips-fieldnameL">
                            每股面值(元)
                        </th>
                        <td class="tips-dataL">
                            {{formatFixed(fxxg.PAR_VALUE)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            发行量(股)
                        </th>
                        <td class="tips-dataL">
                            {{formatNumber(fxxg.TOTAL_ISSUE_NUM)}}
                        </td>
                        <th class="tips-fieldnameL">
                            每股发行价(元)
                        </th>
                        <td class="tips-dataL">
                            {{formatFixed(fxxg.ISSUE_PRICE)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            发行费用(元)
                        </th>
                        <td class="tips-dataL">
                            {{formatMoney(fxxg.DEC_SUMISSUEFEE)}}
                        </td>
                        <th class="tips-fieldnameL">
                            发行总市值(元)
                        </th>
                        <td class="tips-dataL">
                            {{formatMoney(fxxg.TOTAL_FUNDS)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            募集资金净额(元)
                        </th>
                        <td class="tips-dataL">
                            {{formatMoney(fxxg.NET_RAISE_FUNDS)}}
                        </td>
                        <th class="tips-fieldnameL">
                            首日开盘价(元)
                        </th>
                        <td class="tips-dataL">
                            {{formatFixed(fxxg.OPEN_PRICE)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            首日收盘价(元)
                        </th>
                        <td class="tips-dataL">
                            {{formatFixed(fxxg.CLOSE_PRICE)}}
                        </td>
                        <th class="tips-fieldnameL">
                            首日换手率
                        </th>
                        <td class="tips-dataL">
                            {{formatPercent(fxxg.TURNOVERRATE)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            首日最高价(元)
                        </th>
                        <td class="tips-dataL">
                            {{formatFixed(fxxg.HIGH_PRICE)}}
                        </td>
                        <th class="tips-fieldnameL">
                            网下配售中签率
                        </th>
                        <td class="tips-dataL">
                            {{formatPercent(fxxg.OFFLINE_VAP_RATIO)}}
                        </td>
                    </tr>
                    <tr>
                        <th class="tips-fieldnameL">
                            定价中签率
                        </th>
                        <td class="tips-dataL" colspan="3">
                            {{formatPercent(fxxg.ONLINE_ISSUE_LWR)}}
                        </td>
                    </tr>
                </tbody>
            </table>
            {{else}}
            <h1 style="text-align:center;font-size:14px;padding:5px 0;">该公司暂无发行相关</h1>
            {{/if}}
        </div>
    </div>
</script>

<div class="subnav">
    <a id="jbzl_a" onclick="GoToMaoDian('jbzl',this);" href="#jbzl-0" class="current">基本资料</a>
    <samp>|</samp>
    <a id="fxxg_a" onclick="GoToMaoDian('fxxg',this);" href="#fxxg-0" class="">发行相关</a>
</div>
<div id="templateDiv">
    <div class="section first">
        <div class="name" id="jbzl">
            <samp class="icon">
            </samp>
            <strong>基本资料</strong>
        </div>
        <div class="content" style="text-align:center;">
            <img src="/Content/SoftImages/loading.gif" style="margin: 50px 0;" alt="">
        </div>
    </div>
    <div class="section">
        <div class="name" id="fxxg">
            <samp class="icon">
            </samp>
            <strong>发行相关</strong>
        </div>
        <div class="content" style="text-align:center;">
            <img src="/Content/SoftImages/loading.gif" style="margin: 50px 0;" alt="">
        </div>
    </div>
</div>


        </div>
        <div>


<div class="footer" style="position:relative;width:1000px">
    <div class="disclaimer" style="text-align: left;">
        郑重声明：本网站所刊载的所有资料及图表仅供参考使用。投资者依据本网站提供的信息、资料及图表进行金融、证券等投资所造成的盈亏与本网站无关。本网站如因系统维护或升级而需暂停服务，或因线路及超出本公司控制范围的硬件故障或其它不可抗力而导致暂停服务，于暂停服务期间造成的一切不便与损失，本网站不负任何责任。
    </div>
</div>
<iframe width="100%" height="330" scrolling="no" frameborder="0" src="https://emres.dfcfw.com/public/footer-1000-iframe.html" style="width: 100%;height:330px;"></iframe>
<script src="https://emres.dfcfw.com/public/js/topnav.js?v=1.0.2.7471" type="text/javascript"></script>        </div>

    </div>
    
    <script>
        EM.loader.use("new/CompanySurvey.js?v=1.0.2.7471");
    </script>

    <script type="text/javascript">
        // url屏蔽
        function empblist2020(data) {
            if (data == null || data.dataList == null || data.dataList.length == 0)
                return;

            var url = window.location.href.toLowerCase().replace('https', 'http');
            var temp = null;
            for (var i = 0; i < data.dataList.length; i++) {
                temp = data.dataList[i];
                if (temp != null && temp.toLowerCase().replace('https', 'http') == url) {
                    if ($("#style_type123").val() == "soft") {
                        $("#divBody").css("margin-top", "139px");
                    }

                    $("#divBody div").hide();
                    $("#divBody").append('<div class="hidden-data"></div>');
                    $("#divBody .subnav").show();
                    break;
                }
            }
        }
    </script>
    <script type="text/javascript" src="https://emres.dfcfw.com/60/empblist.js?callback=empblist2020"></script>
</body>
</html>
<script type="text/javascript" src="https://bdstatics.eastmoney.com/web/prd/jump_tracker.js" charset="UTF-8"></script>
